.project {
  display: flex;
  position: relative;
  margin: 10px 0;
  transition: all 0.8s ease-in;
}
.project__fade {
  opacity: 0.9;
}
.project > img {
  width: 600px;
  height: 400px;
  cursor: pointer;
}
.project__buttons {
  position: absolute;
  top: 180px;
  left: 100px;
}
.project__buttons > a > button {
  font-size: 20px;
  padding: 10px;
  font-weight: 700;
  /* margin: 0 auto; */
  margin: 20px;
  cursor: pointer;
  border: 2px solid black;
  background: none;
  border-radius: 10px;
  margin-bottom: 10px;
}
.project__buttons > button:hover {
  opacity: 0.8;
}
